body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, black, yellow, red);  
    color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolommen */
    gap: 10px;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Media query om naar minder kolommen te schakelen bij kleinere schermen */
@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 kolommen voor grotere tablets */
    }
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 kolommen voor kleinere tablets */
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 kolom voor mobiele apparaten */
    }
}
